<template>
    <div class="wrapper">
        <div class="main-panel">
            <top-navbar></top-navbar>

            <dashboard-content>

            </dashboard-content>
        </div>
    </div>
</template>

<style>

</style>
<script>
import TopNavbar from './topnavbar.vue'
import DashboardContent from './content.vue'

export default {
  components: {
    TopNavbar,
    DashboardContent
  },
  beforeMount: function () {
    this.isAuth()
  },
  methods: {
    isAuth () {
      let loader = this.$loading.show()
      this.$store.dispatch('getCurrentUser').then(() => {
        loader.hide()
        console.log('Usuário logado!')
      }).catch(() => {
        this.$router.push('/login')
        loader.hide()
      })
    }
  }
}
</script>
