<template>
    <div class="myDiv" >
        <div class="alert alert-danger" role="alert"  v-show="errorMesage">
            <button type="button" class="close-alert">×</button>
            {{errorMesage}}
        </div>
        <md-toolbar class="center-xs">
            <div class="md-title">Login</div>
        </md-toolbar>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 center-xs">

                    <form  v-on:submit="handleSubmit($event)" @submit.prevent="validateBeforeSubmit">
                        <md-input-container :class="{'md-input-invalid': errors.has('email') }">
                            <label>E-mail</label>
                            <md-input   name="email" v-model="user.email" v-validate="'required|email'" @focus="resetError" ></md-input>
                            <span v-show="errors.has('email')" class="md-raised md-warn">{{ errors.first('email') }}</span>
                        </md-input-container>

                        <md-input-container md-has-password :class="{'md-input-invalid': errors.has('senha') }">
                            <label>Senha</label>
                            <md-input  name="senha" type="password" v-model="user.password" v-validate="'required'" @focus="resetError"></md-input>
                            <span v-show="errors.has('senha')" class="md-raised md-warn" style="padding-right: 35px">{{ errors.first('senha') }}</span>
                        </md-input-container>

                        <md-button type="submit" class="md-raised md-primary"><md-icon class="">send</md-icon> Entrar</md-button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'login',
  data () {
    return {
      user: {
        email: null,
        password: null
      },
      error: false,
      errorMesage: ''
    }
  },
  beforeMount: function () {
  },
  methods: {
    resetError (e) {
      let error = this.errors.items.find((erro) => erro.field === e.target.name)
      this.error = false
      this.errorMesage = ''
      if (error !== undefined) {
        this.errors.remove(error.field)
      }
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
        }
      })
    },
    handleSubmit () {
      let loader = this.$loading.show()
      this.$store.dispatch('authenticateUser', {
        username: this.user.email,
        password: this.user.password
      }).then(() => {
        console.log('Logou')
        this.$router.push('/products')
        loader.hide()
        this.$parent.rightDrawer = true
      }).catch((err) => {
        console.log(err)
        loader.hide()
        switch (err.code) {
          case 'NotAuthorizedException':
            this.errorMesage = 'Usuário ou senha inválido'
            break
          case 'UserNotFoundException':
            this.errorMesage = 'Usuário ou senha inválido'
            break
          case 'InvalidParameterException':
            this.errorMesage = 'Informe e-mail/senha'
            break
          default:
            this.errorMesage = 'Sistema indisponivel no momento'
            break
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
    .myDiv {
        position:absolute;
        top: 50%;
        left: 50%;
        width:35em;
        height:18em;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
    }
    .alert {
          min-width: 150px;
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 3px;
      @extend .shadow-1;
    &:hover{
     @extend .shadow-2;
     }
    &-success{
         background-color: lighten(#5cb85c, 15%);
         border-color: lighten(#5cb85c, 10%);
         color: darken(#5cb85c, 15%);
     }
    &-warning{
         background-color: lighten(#E2A41F, 15%);
         border-color: lighten(#E2A41F, 10%);
         color: darken(#E2A41F, 15%);
     }
    &-danger{
         background-color: lighten(#d43f3a, 15%);
         border-color: lighten(#d43f3a, 10%);
         color: darken(#d43f3a, 15%);
     }
    p{
        padding: 0;
        margin: 0;
    }
    i{
        padding-right: 5px;
        vertical-align: middle;
        font-size: 24px;
    }
    .close-alert{
        -webkit-appearance: none;
        position: relative;
        float: right;
        padding: 0;
        border: 0;
        cursor: pointer;
        color: inherit;
        background: 0 0;
        font-size: 21px;
        line-height: 1;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,.7);
        filter: alpha(opacity=40);
        opacity: .4;
    &:hover{
         filter: alpha(opacity=70);
         opacity: .7;
     }
    }
    }
    .shadow-1{
        box-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24) ;
    }
    .shadow-2{
        box-shadow: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23) ;
    }

</style>
