<template>
    <div class="phone-viewport">
    <md-toolbar>
        <md-button class="md-icon button" @click.native="toggleLeftSidenav">
            <md-icon>menu</md-icon>
        </md-button>
        <h1 class="md-title">{{title}}</h1>
    </md-toolbar>
    <md-sidenav class="md-left" ref="leftSidenav">
        <md-toolbar class="md-medium">
            <div class="md-toolbar-container">
                <h2 class="md-title">Navegação</h2>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item>Perfil</md-list-item>
            <md-list-item>
                <router-link to="/categories"  @click.native="closeLeftSidenav" >Categorias</router-link>
            </md-list-item>
            <md-list-item>
                <router-link to="/products"  @click.native="closeLeftSidenav" >Produtos</router-link>
            </md-list-item>
            <md-list-item @click="logOut">Sair</md-list-item>
        </md-list>
    </md-sidenav>
    </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Painel Administrativo'
    }
  },
  methods: {
    toggleLeftSidenav () {
      this.$refs.leftSidenav.toggle()
    },
    closeLeftSidenav () {
      this.$refs.leftSidenav.close()
    },
    logOut () {
      this.$store.dispatch('signOut').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>

<style scoped>

</style>
